In [128]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [129]:
df_People = pd.read_csv('Raw CSV\People.csv', encoding="ISO-8859-1")
df_AllStarFull = pd.read_csv('Raw CSV\AllstarFull.csv', encoding="ISO-8859-1")
df_Batting = pd.read_csv('Raw CSV\Batting.csv', encoding="ISO-8859-1")
df_Fielding = pd.read_csv('Raw CSV\Fielding.csv', encoding="ISO-8859-1")
df_Pitching = pd.read_csv('Raw CSV\Pitching.csv', encoding="ISO-8859-1")
df_HOF = pd.read_csv('Raw CSV\HallOfFame.csv', encoding= "ISO-8859-1")
df_Appearances = pd.read_csv('Raw CSV\Appearances.csv',encoding ="ISO-8859-1")

In [130]:
df_HOF.columns

Index(['playerID', 'yearID', 'votedBy', 'ballots', 'needed', 'votes',
       'inducted', 'category', 'needed_note'],
      dtype='object')

In [131]:
df_HOF.shape

(4191, 9)

In [132]:
df_HOF.drop(columns=['votedBy','ballots', 'needed','votes', 'needed_note'], axis=1, inplace=True)

In [133]:
df_HOF

       playerID  yearID inducted category
0      cobbty01    1936        Y   Player
1      ruthba01    1936        Y   Player
2     wagneho01    1936        Y   Player
3     mathech01    1936        Y   Player
4     johnswa01    1936        Y   Player
...         ...     ...      ...      ...
4186  lidgebr01    2018        N   Player
4187  millwke01    2018        N   Player
4188  zambrca01    2018        N   Player
4189  morrija02    2018        Y   Player
4190  trammal01    2018        Y   Player

[4191 rows x 4 columns]

In [134]:
## Find the Different Categories To Figure Out What To Drop
df_HOF.category.unique()

array(['Player', 'Manager', 'Pioneer/Executive', 'Umpire'], dtype=object)

In [135]:
df_HOF['category'].value_counts()

Player               4066
Manager                74
Pioneer/Executive      41
Umpire                 10
Name: category, dtype: int64

In [136]:
CategoryType = ['Manager', 'Pioneer/Executive', 'Umpire']

In [137]:
df_HOF_Player = df_HOF[df_HOF.category.isin(CategoryType) == False]

In [138]:
df_HOF_Player

       playerID  yearID inducted category
0      cobbty01    1936        Y   Player
1      ruthba01    1936        Y   Player
2     wagneho01    1936        Y   Player
3     mathech01    1936        Y   Player
4     johnswa01    1936        Y   Player
...         ...     ...      ...      ...
4186  lidgebr01    2018        N   Player
4187  millwke01    2018        N   Player
4188  zambrca01    2018        N   Player
4189  morrija02    2018        Y   Player
4190  trammal01    2018        Y   Player

[4066 rows x 4 columns]

In [139]:
df_HOF['inducted'].value_counts()

N    3868
Y     323
Name: inducted, dtype: int64

In [140]:
nulls = df_HOF.isnull().sum()
nulls[nulls > 0]

Series([], dtype: int64)

In [141]:
df_HOF_Player.to_csv('Clean CSV\Clean_HOF.csv', index=False)